doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 主页
    style.
      .block-item {
        margin: 0 50px;
      }

      .block-item a {
        display: block;
        padding: 25px 50px;
        color: #fff;
        background-color: #555;
      }
  body
    div.block-item
      a(href="/house/houseDetail?houseId=2&userType=customer&houseType=2&userId=kpgnpdqqfl") houseDetail
    div.block-item
      a(href="/house/communityDetail?blockId=2900&userType=customer&houseType=2&userId=kpgnpdqqfl") communityDetail


