doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title 房源
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", type="text/css", href="/static/lib/mui.min.css")
    link(rel="stylesheet", type="text/css", href="/static/css/test.css")
    script(type="text/javascript", src="/static/lib/mui.js")
    script(type="text/javascript", src="/static/lib/util.js")
    script(type="text/javascript").
      setAdaptive();
    if isDev == true
      script(type="text/javascript", src="/static/lib/vconsole.min.js")
      script(type="text/javascript").
        var vConsole = new VConsole();
  body
    div(class="filter-nav-wrap" id="filter-nav-wrap")
      .filter-segmented-control
        a(class="filter-control-item" id="range-btn") 区域
        a(class="filter-control-item" id="price-btn") 价格
        a(class="filter-control-item" id="type-btn") 房型
        a(class="filter-control-item" id="more-btn") 更多
      .filter-control-wrap
        #range-wrapper.filter-control-content
          div(id="range-filter-wrap" class="filter-wrap")
            ul(class="mui-table-view mui-table-view-inverted")
              li(class="mui-table-view-cell")
                a(href="javascript:;") 1
              li(class="mui-table-view-cell")
                a(href="javascript:;") 2
              li(class="mui-table-view-cell")
                a(href="javascript:;") 3
              li(class="mui-table-view-cell")
                a(href="javascript:;") 4
              li(class="mui-table-view-cell")
                a(href="javascript:;") 5
        #price.mui-control-content
          div.filter-content-wrap 12
        #type.mui-control-content
          div.filter-content-wrap 13
        #more.mui-control-content
          div.filter-content-wrap 14
        div(id="filter-backdrop" class="filter-backdrop")
    script(type="text/javascript", src="/static/js/test.js")

