body {
  background-color: #fff;
  line-height: 1;
}

.content-wrap {
  margin: 46px 32px;
}

.content-wrap-left {
  margin-left: 32px;
}

.content-wrap-h {
  margin: 0 32px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: $grey;
}

.divider-vertical {
  width: 1px;
  height: 100%;
  background-color: $grey;
}

.green-text {
  color: $green-text-color !important;
}

.red-text {
  color: $red-text-color !important;
}

.grey-text{
  color: $grey-text-color !important;
}

.no-bottom {
  margin-bottom: 0 !important;
}
a{
  color: #000;
}

.block-like{
  display: block !important;
}

.btn-a{
  display: block;
  width: 100%;
  height: 100%;
}

.b-icon{
  background-repeat: no-repeat;
  background-size: $sprite-2-width $sprite-2-height;
}
[data-dpr="3"] {
  .b-icon{
    transform: scale(($sprite-2-width/$sprite-3-width));
    background-size: $sprite-3-width $sprite-3-height;
  }
}

.like-icon {
  background-image: url("../asset/sprite-2.png");
  background-position: 0px 0px;
  width: 44px;
  height: 38px;
  &.active {
    background-image: url("../asset/sprite-2.png");
    background-position: -54px 0px;
  }
}

.compare-icon {
  background-image: url("../asset/sprite-2.png");
  background-position: -49px -48px;
  width: 38px;
  height: 37px;
}
.community-icon {
  background-image: url("../asset/sprite-2.png");
  background-position: 0px -48px;
  width: 39px;
  height: 37px;
}

[data-dpr="3"] {
  .like-icon {
    background-image: url("../asset/sprite-3.png");
    background-position: 0px 0px;
    width: 66px;
    height: 57px;
    &.active {
      background-image: url("../asset/sprite-3.png");
      background-position: -76px 0px;
    }
  }

  .compare-icon {
    background-image: url("../asset/sprite-3.png");
    background-position: -69px -67px;
    width: 57px;
    height: 56px;
  }

  .community-icon {
    position: relative;
    top: 8px;
    background-image: url("../asset/sprite-3.png");
    background-position: 0px -67px;
    width: 59px;
    height: 56px;
  }
}

