body {
  background-color: #fff;
  line-height: 1;
}

.content-wrap {
  margin: 46px 32px;
}

.content-wrap-left {
  margin-left: 32px;
}

.content-wrap-h {
  margin: 0 32px;
}

.divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: $grey;
}

.divider-vertical {
  width: 1px;
  height: 100%;
  background-color: $grey;
}

.green-text {
  color: $green-text-color !important;
}

.red-text {
  color: $red-text-color !important;
}

.grey-text{
  color: $grey-text-color !important;
}

.no-bottom {
  margin-bottom: 0 !important;
}
a{
  color: #000;
}

.block-like{
  display: block !important;
}

.btn-a{
  display: block;
  width: 100%;
  height: 100%;
}

