$grey: #9c9fa1;
$red: #fe4227;
$green: #0ac2a8;
$red-text-color: $red;
$green-text-color: $green;
$grey-text-color: $grey;

$card-height: 330px;
$card-width: 300px;
$card-img-height: 220px;

$img-color: #eee;
